/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache
/storage/framework/sessions/*
/storage/framework/views/*
/storage/debugbar
/storage/logs/*.log
/vendor
.env
.env.*
.env_*
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
docker-compose.yml

# IDE
.idea/

# Local dumps/backups
*.sql
